@model List<Prasna>
@*<partial name="_notification" />*@
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
           
        </div>
        <div class="col-3 text-end">
            <a asp-action="QuizCreate" class="btn btn-primary">Add Questions!</a>
            <a asp-action="QA" class="btn btn-warning" style="width:50%;background-color:forestgreen">Q/A!</a>

        </div>
        @*<div class="col-3 text-end">
            <a asp-action="QA" class="btn btn-warning">Q/A!</a>
        </div>*@
    </div>

        <h1>List Of Questions:</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
             <th>
               S.N
            </th>
            <th>
               QuestionId
            </th>
            <th>
                Question
            </th>
            <th>
                Answer_0
            </th>
            <th>
                Answer_1
            </th>
            <th>
                Answer_2
            </th>
            <th>
                Answer_3
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @{
                int serialNumber = 1;
            }

        @foreach (var obj in Model)
        {
            <tr>
                <td>@serialNumber</td>
                    
                <td>@obj.Question_ID</td>
                <td>@obj.Question</td>
                <td>@obj.Correct_Answer</td>
                <td>@obj.WrongAnswer_1</td>
                <td>@obj.WrongAnswer_2</td>
                <td>@obj.WrongAnswer_3</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Quiz" asp-action="Edit" asp-route-id="@obj.Question_ID" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square">Edit</i>
                            </a>
                            <a asp-controller="Quiz" asp-action="Delete" asp-route-id="@obj.Question_ID" class="btn btn-danger mx-2">
                                <i class="bi bi-trash3-fill">Delete</i>
                            </a>
                        </div>
                    </td>

            </tr>
            serialNumber++;
            
        } 
        

        @*@foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Question_ID</td>
                <td>@obj.Question</td>
                <td>
                    @{
                        // Put the possible answers into an array and shuffle it
                        var answers = new[] { obj.Correct_Answer, obj.WrongAnswer_1, obj.WrongAnswer_2, obj.WrongAnswer_3 };
                        var rng = new Random();
                        int n = answers.Length;
                        while (n > 1)
                        {
                            n--;
                            int k = rng.Next(n + 1);
                            string temp = answers[k];
                            answers[k] = answers[n];
                            answers[n] = temp;
                        }
                    }
                    <ul class="list-unstyled">
                        @foreach (var answer in answers)
                        {
                            <li>@answer</li>
                        }
                    </ul>
                </td>
            </tr>
        }*@
        
    </tbody>
</table>
</div>